#connect {
    -fx-background-image: url("file:images/background.jpg");
    -fx-background-size: cover;
}

#connect Label {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: #FFFFFF;
}

#connect TextField {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #FFFFFF;
    -fx-max-width: 350px;
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-prompt-text-fill: #FFFFFF;
}

#connect Button {
    -fx-padding: 5px 15px 5px 15px;
    -fx-font-size: 18px;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2;
}

#start {
    -fx-background-color: #FFFFFF;
}

#start-lobby Button {
    -fx-background-color: #F7B32B;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-font-size: 14px;
    -fx-padding: 5px 10px 5px 10px;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);
}

#start-lobby TextField {
    -fx-padding: 5px;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #F7B32B;
    -fx-max-width: 300px;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
}

#game {
    -fx-background-image: url("file:images/background1.jpg");
    -fx-background-size: cover;
}

#game Label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

Button:hover {
    -fx-cursor: hand;
}

#lbl1 {
    -fx-text-fill: #461B4A;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

#lbl2 {
    -fx-text-fill: #F7B32B;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.list-view {
    -fx-background-color: #f5f5f5;
    -fx-font-size: 16px;
}

.list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #333333;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.1) , 5, 0.0 , 0 , 1 );
    -fx-background-insets: 0, 0 0 1 0;
}

.list-cell:hover {
    -fx-background-color: #ecf0f1;
    -fx-cursor: hand;
}

.list-cell:selected {
    -fx-background-color: #F7B32B;
    -fx-text-fill: white;
}

.list-view:focused {
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}

.list-view:focused .list-cell:selected {
    -fx-background-color: #F7B32B;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}